 canvas {
	border: 1px solid #000;
	display: block;
	margin: 0 auto;
}

.controller-border {
	border: 2px solid black;
	width: 1200px;
	margin: 0 auto;
	padding: 40px;
	touch-action: manipulation;/*Stop screen zooming when double tapping buttons*/
}

.controller {
	background-color:#b2b4b2;
	border: 2px solid black;
	width:1150px;
	text-align:center;
	border-radius:200px;
	padding:25px;
	margin: 0 auto;
}

.button-box {
	display:inline-block;
	border: 2px solid white;
	text-align:center;
	width:360px;
	border-radius:200px;
	padding: 10px;
	background-color: #707372;
}

.button {
	border: 3px solid black;
	border-radius:60px;
	font-size: 50px;
	padding: 25px;
}

.button-start {
	background-color: #999; /*Grey*/
}

.button-round {
	background-color: #F14;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block
	margin: 4px 2px;
	
	/* Stop button text highlighting when buttons pressed repeatedly */
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
}

.button-divider {
	width:75px;
	height:auto;
	display:inline-block;
}

.buttonA {
	background-color: #F14; /*Red*/
}

.buttonB {
	background-color: #FF0; /*Yellow*/
}

.buttonX {
	background-color: #00F; /*Blue*/
}

.buttonY {
	background-color: #0F0; /*Green*/
}