 canvas {
	border: 1px solid #000;
	display: block;
	margin: 0 auto;
}

.controller {
	border: 2px solid black;
	width:1000px;
	margin: 0 auto;
	text-align:center;
	border-radius:200px;
	padding:25px;
	touch-action: manipulation;//Stop screen zooming when double tapping buttons
}

.button-box {
	display:inline-block;
	//border: 2px solid black;
	text-align:center;
	width:320px;
}

.button-round {
	background-color: #F14;
	border: 3px solid black;
	color: white;
	padding: 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 36px;
	margin: 4px 2px;
	border-radius:50px;
}

.button-divider {
	width:75px;
	height:auto;
	display:inline-block;
}

.buttonA {
	background-color: #F14;
}

.buttonB {
	background-color: #FF0;
}

.buttonX {
	background-color: #00F;
}

.buttonY {
	background-color: #0F0;
}